*{
  box-sizing: border-box;
}

html{
    font-style: 100%;
}

/* variables */ 

:root{
  /*colores para el general del body*/
 --color-fondo: hsl(240, 4%, 46%);
 --color-fondo-claro:  hsl(240, 5%, 84%);
 --color-fondo-oscuro: hsl(240, 4%, 16%); 
 
 /* colores para el titulo*/
 --color-header: hsl(216, 100%, 58%) ;
 --color-header-claro: ;
 --color-header-oscuro: ;
 
 /*colores neutros texto*/
 --color-texto: ;
 --color-texto-claro: ;
  
 /* espacios */
 --espacio-xs: 0.5rem;
 --espacio-sm: 1rem;
 --espacio-md: 1.5rem;
 --espacio-lg: 2rem;
 --espacio-xl: 3rem;

 /* bordes */
 --borde-sm: 0.5rem;
 --borde-md: 0.75rem;
 --borde-lg: 1rem;
}

body{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 1.2rem;
 background-color: var(--color-fondo-claro);
 
}
/* header */
header{
    border-bottom: 2px solid black;
}
.titulo{
    display: flex;
    align-items: center;
    gap: 300px;
}

.titulo img{
 width: 250px;
}

.texto{
    display: flex;
    flex-direction: column;
}
/* damos forma a la parte de formato y cantidad de colores */
.configuracion{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    padding: 30px;
    width: 800px;
    margin: 30px auto;
}

.opciones{
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 0.3;
}

.formato{
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 0.3;
}

label{
    font-size: 16px;
    font-weight: bold;
}

select{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
}

.botones{
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
}

.botones button{
    padding: 12px 20px;
    border: nome;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;

}

.generar{
    background-color: #6c5ce7;
    color: white
}

.guardar{
    background-color: #6c5ce7;
    color: white
}

.eliminar{
  background-color: #6c5ce7;
  color: white
}